<section id="section-summary">
  <header id="summary-header">
    <h2>Summary</h2>
  </header>
  <main id="summary-content">
    <p id="summary-text">{{ resume.basics.summary }}</p>
  </main>
</section>
